
.icon-login:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-user-add:before { content: '\e802'; } /* '' */
.icon-cog:before { content: '\e803'; } /* '' */
.icon-article-alt:before { content: '\e804'; } /* '' */
.icon-search:before { content: '\e805'; } /* '' */
